.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	padding : 4px 6px 0px 6px;
}
.fileUpload input.upload {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0px;
	bottom: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.group{
	max-width: 100px;
	margin: 0px 5px 0px 5px;
	float:left;
	height: 100%;
}
#previewHolder{
	width: 100%;
	border-radius: 10px;
}
.progbar{
	display: none;
}

.dropzone {
	min-height: 150px;
}
.dz-preview {
    margin: 10px !important;
}