.onoffswitch {
    margin-right: 10px;
    padding-top: 5px;
    position: relative; width: 30px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 15px; padding: 0; line-height: 15px;
    border: 2px solid #F89406; border-radius: 15px;
    background-color: #F89406;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    height: 15px;
    display: block; width: 15px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 5px; bottom: 0;
    right: 15px;
    border: 2px solid #F89406; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #82AF6F;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #82AF6F;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}