.allocation {
	overflow-x: auto;
}
.allocation .channel-item {
	float: left;
	display: inline-block;
	padding: 5px 10px;
	width: 150px;
	border-right: solid 1px #ddd;
}
.allocation .channel-item:last-child {
	border-right: none;
}
.action-button {
	font-size: 30px;
	width: 70px
}
.action-button hr {
	margin: 10px;
}
.action-button .glyphicon{
	cursor: pointer;
}
.disabled .glyphicon{
	cursor: default;
	color: #ddd
}