.full {
	width: 100%;
}

#rack .row > .cell {
	float: none;
}
#rack .table-wrapper {
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
    border: solid 1px #ccc;
    /*max-width: calc(100% - 100px);*/
}
#rack .table-wrapper .label {
    line-height: 35px;
}
#rack .table-wrapper .data-row {
    display: flex;
    position: relative;
    height: 34px;
}
#rack .table-container {
    margin: 0px 10px 10px 35px;
}
.cell {
	width: 100px;
	min-width: 100px;
	height: 34px;
    padding: 0px;
}
.btn-remove {
    background: none;
    border: none;
}
.btn-rm-col {
    position: absolute;
    height: 100%;
    right: 100%;
    padding: 0px 10px
}