/*Helper*/
.nowrap {
	white-space: nowrap;
}
.center-block {
	float: none
}
.text-default {
	color: #444;
}
.not-set {
	white-space: nowrap;
	color: #aaa;
}

/*Table*/
	table th {
		white-space: nowrap;
	}
	table td {
		word-break: break-word;
	}

/*Layout*/
	.sidebar {
		width: 220px;
	}
	.sidebar + .main-content {
		margin-left: 220px;
	}

	.footer {
	    width: 100%;
	    position: relative;
	}

/*Widget*/
	.detail-view {
		table-layout: fixed;
	}

	.grid-view tr td:last-child a {
		padding: 0px 5px;
	}
	.grid-view .filters .input-group {
        width: 1px;
	}
	.grid-view .filters .input-date {
        width: 110px;
	}

	.widget-header {
		background: #F9F9F9;
	}
	.widget-box {
		margin: 5px 0 15px;
	}

/*Form*/
	textarea {
		resize: vertical;
	}
	form .form-group {
	    margin-bottom: 7px;
	}
	form .help-block {
	    margin: 0px;
	}

	.danger {
	    border-color: #f2a696 !important;
	    color: #d68273 !important;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.danger:focus {
	    -webkit-box-shadow: 0 0 0 2px rgba(219,137,120,.3);
	    box-shadow: 0 0 0 2px rgba(219,137,120,.3);
	    color: #ca5f4c;
	    border-color: #d77b68;
	    background-color: #fef9f8
	}

	.success {
        border-color: #9cc573;
	    color: #8bad4c;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.success:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(130,188,58,.3);
	    box-shadow: 0 0 0 2px rgba(130,188,58,.3);
	    color: #6f8a3c;
	    border-color: #779c52;
	    background-color: #f4f9f0
	}

	.input-date-range {
		width: 100%;
	}

/*JS Events*/
	.datepicker{
		z-index: 9999 !important;
	}

	table.detail-view th {
	    width: 25%;
	}

	table.detail-view td {
	    width: 75%;
	}

	/*Angular Form*/
	textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
	    border-color: #f2a696;
	    color: #d68273;
	}
	textarea.ng-invalid.ng-touched:focus, select.ng-invalid.ng-touched:focus, input.ng-invalid.ng-touched:focus {
	    color: #ca5f4c;
	    border-color: #d77b68;
	    background-color: #fef9f8;
	}

	/*show-hide slider*/
		.slider-container {
		    display: inline-block;
		    width: 100%;
		}
		.slide-toggle {
		    display: none;
		}

	/*resize table + horizontal scroll*/
		.forscrollhor{
	        overflow: auto;
	        overflow-y: hidden;
	        height:100%;
	    }
	    .forscrollhor table td{
	        white-space: nowrap;
	        max-width: 100px;
	        overflow: hidden;
	        text-overflow: ellipsis;
	    }
	    .forscrollhor table th.resizing {
	        cursor: col-resize !important;
	    }