/*Table*/
	table {
		margin: 10px 0px;
		border-collapse: collapse;
	}
	th, td {
		padding: 5px 10px;
	}
	.no-pad {
		padding: 0px;
	}

	.table {
		width: 100%;
	}
	.table th, .table td {
		border: solid 1px #ddd;
	}
	.table th {
		background: #f3f3f3;
	}

.text-middle {
	vertical-align: middle;
}
.text-top {
	vertical-align: top;
}
.text-bottom {
	vertical-align: bottom;
}