.full {
	width: 100%;
}

#variations .row > .cell {
	float: none;
}
#variations .table-wrapper {
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
    /*max-width: calc(100% - 100px);*/
}
#variations .table-wrapper .label {
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 5px;
    cursor: default;
}
#variations .table-wrapper .data-row {
    display: flex;
}
.cell {
	width: 100px;
	min-width: 100px;
	height: 34px;
    padding: 0px;
}